<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>
Robert Madigan

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
    <li>List popular languages for Data Science</li>
    <li>Commonly used Data Science libraries</li>
    <li>Data Science tools</li>
    <li>Examples of arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>R</li>
    <li>Python</li>
    <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>ggplot (R)</li>
    <li>seaborn (Python)</li>
    <li>sckikit-learn (Python)</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Anaconda</td>
    </tr>
    <tr>
        <td>Visual Studio Code</td>
    </tr>
</table>

Below are a few examples of evaluating arithmetic expressions in Python:

 7 - 6 + 2
 
7 - (6 + 2)

5 * 62 + 1

(5 + 6) * (2+1)

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335